<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/trips">Trips Index</a></li>
      </ul>
    </nav>
    <h1>Edit <%=trip.name%> Page</h1>
    <form action="/trips/<%=trip._id%>?_method=PUT" method="post">
      <select name="userId">
        <% for(let i = 0; i < users.length; i++) { %>
        <option value="<%=users[i]._id%>"
        <% if(users[i]._id.toString() === tripUser._id.toString()){ %>
        selected
        <% } %>
        >
          <%=users[i].name%>
        </option>
        <% } %>
      </select><br/>
      Name: <input type="text" name="name" value="<%=trip.name%>"/><br />
      Date: <input type="text" name="date" value="<%=trip.date%>"/><br/>
      <label class="notesLabel">Notes:</label> <textarea name="notes" /><%=trip.notes%></textarea><br/>
      <input type="submit" value="Submit Changes"/>
    </form>
  </body>
</html>
