<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <h1><%=trip.name%></h1>
    The <%=trip.name%> was taken in <%=trip.date%>. Here are the notes: <%=trip.notes%>.<br/>
    <small>Contributed by <a href="/users/<%=user._id%>"><%=user.name%></a></small>
    <section>
      <a href="/trips/<%=trip._id; %>/edit">Edit</a>
    </section>
    <section>
      <form action="/trips/<%=trip._id; %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Trip" />
      </form>
    </section>
    <nav>
      <a href="/trips">Back to Trips Index</a>
    </nav>
  </body>
</html>
